<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Homework</title>
    </head>

    <body>
        <h1>Келли Слейтер</h1>

        <img src="/slater2.png" width="360" height="200">
        <p>Это <a href="https://biturl.top/aIv2ae">Келли Слейтер.</a>
            Ему 50, он старый, лысый и трухлявый пень, но еще он очень круто катается на серфе</p>
        <p><mark>Недавно он выиграл очередной этап в чемпионате среди лучших серферов</mark></p>
        <p>Правда же <strong>Келли Слейтер</strong> классный? </p>
        <hr>
        <p>А я недавно съел пончик. Вот такой вот я</p>
        <p>Так что еще раз посмотрим на Слейтера и на волнишки: <br>
            <img src="/slater.jpg" width="360" height="200"></p>
    </body>
</html>